{% extends 'base.html.twig' %}

{% block title %}Hello PartenaireListController!{% endblock %}

{% block body %}

<main>
    <h1>Liste des Partenaires</h1>

    {% for message in app.flashes('success')%}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <table class="table table-hover">
        {% for partenaires in partenaire %}
            <thead>
                <th><h2>Partenaire {{partenaires.id}}</h2></th>
            </thead>
            <tbody class="d-flex flex-row">
                <tr class="table-primary d-flex flex-column">
                    <td>
                        <h2>{{partenaires.titre}}</h2>
                    </td>
                    <td>
                        <h3>Type:</h3>
                        <p class="type">{{partenaires.type}}</p>
                    </td>
                    <td>
                        <h3>Description:</h3>
                        <p class="description">{{partenaires.content}}</p>
                    </td>
                    
                </tr>
                <tr class="table-primary d-flex flex-column">
                    <td>
                        <h3>Image:</h3>
                        <img src="{{vich_uploader_asset(partenaires, 'imageFile')}}" width="200px" >
                        <td><a class="button-style" href="{{path("app_partenaire_edit", {'id' : partenaires.id })}}">Modifier la fiche</a></td>
                        <td><a class="button-style" href="{{path("app_partenaire_delete", {'id' : partenaires.id })}}">Supprimer la fiche</a></td>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(partenaire)}}
    </div>
    <div class="count">
        <p> Nombre de fiches: {{partenaire.getTotalItemCount}}</p>
    </div>
</main>

{% endblock %}
