{% extends 'base.html.twig' %}

{% block title %}Liste Atelier{% endblock %}

{% block body %}
<main>
    <h1>Liste des Ateliers</h1>

    <table class="table table-hover">
        {% for ateliers in atelier %}
            <thead>
                <th>Atelier {{ateliers.id}}</th>
            </thead>
            <tbody class="d-flex flex-row">
                <tr class="table-primary d-flex flex-column">
                    <td>
                        <h2>{{ateliers.titre}}</h2>
                    </td>
                    <td>
                        <h3>Lieu:</h3>
                        {#<p>{{ateliers.location}}</p>#}
                    </td>
                    <td>
                        <h3>Date de début:</h3>
                        <p>{{ateliers.beginDatetime|format_datetime()}}</p>
                    </td>
                    <td>
                        <h3>Date de fin:</h3>
                        <p>{{ateliers.endDatetime|format_datetime()}}</p>
                    </td>
                    <td>
                        <h3>Description:</h3>
                        <p>{{ateliers.content}}</p>
                    </td>
                    
                </tr>
                <tr class="table-primary d-flex flex-column">
                    <td><img src="{{vich_uploader_asset(ateliers, 'imageFile')}}" width="200px"></td>
                    <td><input type="button" value="Modifier la fiche"></td>
                    <td><input type="button" value="Supprimer la fiche"></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(atelier)}}
    </div>
    <div class="count">
        <p> Nombre de fiches: {{atelier.getTotalItemCount}}</p>
    </div>
</main>
{% endblock %}
