{% extends 'base.html.twig' %}

{% block title %}Liste Concerts{% endblock %}

{% block body %}


<main>
    <h1>Listes des concerts</h1>

    {% for message in app.flashes('success')%}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    <table class="table table-hover">
        {% for concert in concerts %}
            <thead>
                <th>Concert {{concert.id}}</th>
            </thead>
            <tbody class="d-flex flex-row">  
                <tr class="table-primary d-flex flex-column">
                    <td>
                        <h2>{{concert.titre}}</h2>
                    </td>
                    <td>
                        <h3>Lieu:</h3>
                        {#<p>{{concert.location}}</p>#}
                    </td>
                    <td>
                        <h3>Date de début:</h3>
                        <p>{{concert.beginDatetime|format_datetime()}}</p>
                    </td>
                    <td>
                        <h3>Date de fin:</h3>
                        <p>{{concert.endDatetime|format_datetime()}}</p>
                    </td>
                    <td>
                        <h3>Description:</h3>
                        <p>{{concert.content}}</p>
                    </td>
                
                    
                </tr>

                <tr class="table-primary d-flex flex-column">
                    <td><img src="{{vich_uploader_asset(concert, 'imageFile')}}" width="200px"></td>
                     <td><a class="button-style" href="{{path("app_concert_edit", {'id' : concert.id })}}">Modifier la fiche</a></td>
                    <td><a class="button-style" href="{{path("app_concert_delete", {'id' : concert.id })}}">Supprimer la fiche</a></td>
                </tr>
            </tbody>
            
        {% endfor %}    
    </table>
    <div class="d-flex flex-row">
        <div class="navigation">
            {{ knp_pagination_render(concerts) }}
        </div>
        <div class="count">
            <p> Nombre de fiches: {{concerts.getTotalItemCount}}</p>
        </div>

    </div>
    
</main>


{% endblock %}
